.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#widget__current-user {
}

#img__user-icon {
  width: 5%;
  border: 4px;
  border-color: rgb(164, 64, 64);
}

#widget__username {
  font-size: 0.4rem;
  margin: 0;
  padding: 0;
}

.list__undecorated {
  list-style: none;
}

.link__undecorated {
  text-decoration: none;
}

.list__article-item {
  border-width: 5px;
  border-style: solid;
}
